/* TODO: Make it awesome */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");
body {
  background-color: #eee;
  font-family: "Raleway", sans-serif;
}
body > header {
  background: rgb(201, 75, 75);
  background: linear-gradient(
    90deg,
    rgba(201, 75, 75, 1) 0%,
    rgba(75, 19, 79, 1) 100%
  );
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
}

body > header h1 {
  font-weight: 600;
  color: #fff;
  font-size: 1.5em;
}

body > header nav ul li {
  display: inline;
  float: right;
  margin: 0 20px;
}
body > header nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
}

body > header nav ul li a:hover {
  color: #f9c22e;
  transition-duration: 0.3s;
}

main {
  padding: 0px 100px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.deck {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  background-color: #feb95f;
  padding: 20px 20px;
  color: #333;
}

.copy {
  /* padding: 10px 40px; */
  line-height: 30px;
  color: #333333;
}
.copy ol {
  margin: 10px 50px;
  list-style-type: circle;
}

.col-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.col-2 .card {
  width: 100%;
  background-color: #feb95f;
}

.col-2 .card .copy {
 
  /* width: 100%; */
  padding: 30px;
}

#catalog legend {
  text-align: center;
  display: block;
  width: 100%;
  color: #333;
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.3em;
}
#catalog span{
    font-size: large;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 15px 0;
  display: block;
  border: none;
  background: #f1f1f1;
  margin: 10px 0;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-size: large;
  text-transform: uppercase;
}

#cartContents {
  background-color: #333;
  padding: 30px;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
}

#cartContents ul {
  color: #fff;
  text-align: left;
}

#cartContents ul li {
  background-color: #feb95f;
  margin: 10px 0;
  padding: 20px;
  color: #333;
}
